/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{

	font-size: 20px;
	padding: 20px 5px;
}

.sticky-nav{
	/* border: 1px solid red; */
	position: fixed;
	font-size: 25px;
	margin: 0 50%;
	display: flex;
	justify-content: space-evenly;
}

nav a{
	text-decoration: none;
	margin:0 5px;
	color: green;
}

@media(max-width: 540px){
	nav a{
		color: red;
	}
	h1{
		margin: 20px 40px;
	}
	h2{
		font-size: 20px;
		margin: 20px 50px
	}
	ol{
		font-size: 15px;
		margin: 0 40px;
	}
	li{
		display: flex;
		justify-content: space-around;
	}
	img{
		width: 50%;
		margin: 20px 100px;
	}
	footer{
		color: grey;
	}
}

.navs{
	font-size: 20px;
	margin: 0 60%;
	display: flex;
}
.h1{
	color: pink;
	margin: 0 250px;
}

/* animation on pictures - homepage hover over the picture to see animation */

#rose {
	position:relative;
	height:281px;
	width:450px;
	margin:0 auto;
  }
  
  #rose img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
  }
  
  #rose img.top:hover {
	opacity:0;
  }
  
  .top{
	  width: 80%;
  }

  .home{
	background-color: grey
  }

  @media(max-width:500px){
	  .home{
		background-color: white
	  }
	  .h1{
		 display:none;
	  }
	  #rose {
	
		  margin: 100px 0;
	  }
	  .navs{	
		padding: 20px 0;
		display: flex;
		flex-direction: column;
	  }
	  .home-container{
		background-color: aqua;
	  } 
  }

  .desc-h1{
	  max-width: 80%;
	  margin: 10px 40px;
	  display: flex;
	  flex-wrap: wrap;
	  
  }

  .desc-pic{
	  max-width: 50%;
	  padding: 0 150px;
  }

  section{
	 
	  display: flex;
	  width: 50%;
	  margin: 30px 150px;
	  justify-content: space-evenly;
  }

  .h2{
	  
	  margin: 0 20px;
  }

  @media(min-width: 500px){
	  .desc-body{
		  background-color: beige;
	  }
	  
	.desc-pic{
		margin: 0 -50px;
	}
  
	section{
	   
		display: none;
		
	}
	footer{
		margin: 20px 60px;
	}
  }